<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>%-5level - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="org.ditw" level="WARN"/>
    <logger name="org.apache.spark" level="WARN"/>
    <logger name="org.apache.spark.storage" level="ERROR"/>
    <logger name="org.apache.spark.scheduler.DAGScheduler" level="ERROR"/>
    <root level="WARN">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>